@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto');
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import 'variables';
@import 'base';
@import 'buttons';
@import 'cards';
@import 'fonts';
@import 'forms';
@import 'icons';
@import 'auth';
@import 'utils';

@import 'jobs';
